.bg-img {
    height: 100vh;
    width: 100vw;
    object-fit: cover;
    filter: brightness(0.7);
    position: fixed;
    top: 0;
    left: 0;
    z-index: -1;
}

.changeColor {
    color: white;
}
h4 {
    color: white;
    margin-left: 10px;
}
p {
    color: white;
    margin-left: 10px;
}

h1 {
    color: white;
    margin-left: 10px;
}
